.issue-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.10);
  cursor: pointer;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }

  &_title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    gap: 5px;

    & > div {
        max-width: 300px
    }

    span {
      color: gray;
      font-size: 14px;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  &_info {
    display: flex;
    gap: 5px;
    font-size: 14px;
    align-items: center;

    span {
      color: gray;
    }
  }
}

@media screen and (max-width: 768px) {
  .issue-list__item {
    display: grid;
    padding: 8px;
    justify-content: normal;

    &_title {
      font-size: 14px;
    }
  }

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
}