.search {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 40px;

  &__select {
    display: flex;
    gap: 8px;
    margin: 10px 40px;
  }

  &__input {
    max-width: 300px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

}


.delete_button{
  color: rgba(255,27,62,0.58);
  border-color: rgba(255,27,62,0.58);
}


.error {
  position: fixed;
  z-index: 9999;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 768px) {
  .search {
    display: grid;

    &__input {
      width: 100%;

    }

    &__buttons {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}